// Base styling for the navbar
#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-bold;
      color: $gray-900;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $gray-600;
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-bold;
          font-size: 0.9rem;
          padding: 0.75rem 0;
          &:hover,
          &:active {
            color: $primary;
          }
          &.active {
            color: $primary !important;
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      // Base styling for the navbar - screen sizes greater than the large breakpoint
      box-shadow: none;
      background-color: transparent;
      .navbar-brand {
        color: fade-out($white, .3);
        &:hover {
          color: $white;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: fade-out($white, .3);
            padding: 0 1rem;
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }
      // Navbar styling applied when the page is scrolled
      &.navbar-scrolled {
        box-shadow: $box-shadow;
        background-color: $white;
        .navbar-brand {
          color: $gray-900;
          &:hover {
            color: $primary;
          }
        }
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $gray-900;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
  
#address-bar{
    padding: 10px 0;
    z-index: 999;
    position: relative;
    display: block;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
    .fa{
        color: white;
        margin-right: 8px;
    }
    span{
        color: white;
        margin-left: 20px;
        font-size: 12px;
        z-index: 2;
    }
    span, .fa{
        -webkit-transition: all 0.45s;
        transition: all 0.45s;
    }
    &::after{
        content:'';
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
}

#mainNav{
    .navbar-brand{
        img{
            width: 100%;
            -webkit-brand: all 0.45s;
            transition: all 0.45s;
        }
    }
}       

.navbar-shrink{
    #address-bar{
        padding: 5px 0;
        span{
            font-size: 11px;
        }
        .fa{
            font-size:12px
        }
    }
    #mainNav{
        padding: 8px 0;
        .navbar-brand{
            img{
                width: 80%;
            }
        }
    }            
}

@media (min-width: 992px){
  #mainNav{
      padding: 1em 0;
      -webkit-transition: all 0.45s;
      transition: all 0.45s;
      .navbar-brand{
          -webkit-brand: all 0.45s;
          transition: all 0.45s;
      }
  }
}
