// Variables

// Color overrides

// Set a custom color
$orange: #f4623a !default;
$brown: #5c4d42 !default;

// Set primary color
$primary: #9d0007 !default;

//Set border color
$border-color: #bd0009 !default;

//Set color
$price-color: #f4fb2e !default;
$price-border-color: #ced426 !default;

// Font overrides
$font-family-sans-serif: 'Myriad Pro Bold' !default;

$font-family-serif: 'Myriad Pro Regular' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
